@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header
{
    width: 100%;
    /* border: 5px solid green; */
    height: 100vh;
    background-color: #020412;
    color: #fff;
    padding: 0 8.5%;
    position: relative;
}

nav
{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px 10px;
}

h2
{
    width: 160px;
    cursor: pointer;
    font-size: 30px;
}

i
{
    width: 35px;
    cursor: pointer;
    font-size: 30px;
}

nav ul
{
    flex: 1;
    text-align: center;
    padding-right: 40px;
}

nav ul li
{
    display: inline-block;
    list-style-type: none;
    margin: 10px 30px;
}

nav ul li a
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
    transition: 0.3s;
}

nav ul li a:hover
{
    color: orangered;
    text-decoration: underline;
}

.textbox
{
    margin-top: 5%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}

.textbox h1
{
    font-size: 68px;
    line-height: 150px;
}

.textbox a
{
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid orangered;
    color: orangered;
    padding: 10px 30px;
    text-decoration: none;
}

.textbox .btn
{
    background-color: orangered;
    color: #000;
    margin: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.textbox .btn:hover
{
    background-color: #020412;
    color: orangered;
}


